*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    overflow-x: hidden;
}
#nav-bar{
    position: sticky;
    top:0;
    z-index: 10;
    background-image: linear-gradient(to right, #a517ba, #5f1782);

}
.nav-bar{
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    padding: 0 !important   ;
}
.navbar-brand img{
    height: 60px;
    width: 100px;
    padding-left: 10px;
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav  a{
    color: #FFF !important;
    font-weight: 600;
    float: right;
    text-align: left;
}
.fa-bars{
    color: #FFF;
    font-size: 40px !important;
}
.navbar-toggler{
    outline: none !important;
}

/* Banner Section */
#banner{
    background: linear-gradient(to right, #a517ba, #5f1782);
    color: #FFF;
    padding: 5%;
}
.promo-title{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}
i.fa-play-circle{
    font-size: 50px;
    color: #FFF;
    margin-right: 10px;
}
#banner a{
    text-decoration: none;
    color: #FFF;
    font-size: 15px;
}

/* services sections */

#services{
    padding: 80px 0;
}

.service-img{
    width: 100px;
    margin-top: 20px;
}

#services h4{ 
    text-transform: uppercase;
}
.title{
    padding-bottom: 20px;
}
.title::before{
    content: "";
    width: 200px;
    height: 5px;
    background: #7b1798;
    margin: 0 auto;
    display: block;
    transform: translateY(63px);
}
.title::after{
    content: "";
    width: 50px;
    height: 10px;
    background: #7b1798;
    margin: 0 auto;
    display: block;
    transform: translateY(8px);
    margin-bottom: 40px;
}

#services .btn-primary{
    box-shadow: none;
    padding: 12px 30px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #a517ba, #5f1782);
}

/* About us section */

#about-us{
    background-image: #f8f9fa;
    padding-bottom: 50px;
    padding-top: 50px;
}
.about-title{
     font-size: 40px;
     font-weight: 600;
     margin-top: 8%;
}
.about-us-ul li{
    margin: 20px 0;
}

/*-------------------------------testimonials------------------------ */
#testimonials{
    margin:100px 0;
}
.testimonials{
    border-left: 4px solid #7b1798;
    margin-top: 50px;
    margin-bottom: 50px;
}
.testimonials img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 10px 0 0;

}
.user-details{
    display: inline-block;
    font-size: 12px;
}

/* Social Media Section */
#social-media{
    background-color: #f8f9fa;
    padding: 100px 0;
}
#social-media p{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px ;
}
.social-icons i{
    font-size: 60px;
    transition: 0.5s;
    margin-right: 1rem;
}
.social-icons a:hover i{
    transform: translateY(-10px)
}
.fa-instagram{
    color: #e6005c;
}
.fa-twitter{
    color: #00ace6;
}
.fa-whatsapp{
    color: green;
}
.fa-linkedin{
    color: orange;
}

/* footer section */
#footer{
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    color: #FFF;
}
.footer-img{
    width: 100%;
}
.footer-box{
    padding: 20px;
}
.footer-box img{
    width: 120px;
    height: 40px; 
    margin-bottom: 20px;
}
.footer-box .fas{
    margin-right: 8px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top:  7px;
    border-radius: 2px;
    background-image: linear-gradient(to right, #a517ba, #5f1782); 
}
.footer-box .form-control{
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 25px;
    max-width: 250px;
}
.footer-box .btn-primary{
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 30px;
    background-image: linear-gradient(to right, #a517ba, #5f1782); 
}
hr{
    background-color: #FFF;
    height: 1.5px;
}
.copyright{
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;
} 